doctype html
html
	head
		link(rel='stylesheet' href='/materialize/css/materialize.min.css')
		link(rel='stylesheet' href='/font-awesome/css/font-awesome.min.css')
		script(type='text/javascript' src='/javascripts/jquery.min.js')

	body
		div(class='container-fluid' style='margin-top: 8px;')
			nav
				div(class="nav-wrapper")
					a(href='#' class="brand-logo") &nbsp;CMS Upload

		div(class='container-fluid' style='margin-top: 36px;')
			div(class='row')
				div(class='col s12 input-field')
					label() Select a Board
					br
					br
					select(id='title' style='display: block;')
						for item, index in data
							option(value='#{item.node_ip}')= item.node_id + ' - ' + item.node_location_city + ', ' + item.node_location_country
					br
					button(class='btn' id='upload_cms') Upload

		script(type='text/javascript' src='/materialize/js/materialize.min.js')

		script.
			$(document).ready(function() {
				console.log('#{file_url}');
				$('#upload_cms').on('click', function(e) {
					var node_ip = $('#title').val();

					$.ajax({
						url: node_ip + '/async-upload',
						type: 'post',
						data: {url: '#{file_url}'},
						success: function(response) {
							Materialize.toast(response, 3500);

							setTimeout(function(){
								window.close();
							}, 4000);
						},

						error: function(err) {
							Materialize.toast('Upload Successfull', 3500);

							setTimeout(function(){
								window.close();
							}, 4000);
						}
					});
				});
			});
