div(class='container' style='margin-top: 8px;')
	nav
		div(class="nav-wrapper")
			a(href='#' class="brand-logo") &nbsp; Content Management System

div(class='container')
	div(class='row' style='margin-top: 16px;')
		div(class='col s12')
			ul(class='tabs')
				li(class='tab col s4') 
					a(href='#' id='cms_all_files') All Files
				li(class='tab col s4') 
					a(href='#' id='cms_upload') Upload Files
				//- li(class='tab col s4') 
				//- 	a(href='#') More
	
	div(class='row' style='margin-top: 16px;')
		div(class='col s12')
			div(id='cms_content')
	
	script.
		$('#cms_all_files').on('click', function(e) {
			$('#cms_content').load('/cms/all-files');
		});
		
		$('#cms_upload').on('click', function(e) {
			$('#cms_content').load('/cms/upload');
		});
		
		$(document).ready(function() {
			$('#cms_content').load('/cms/all-files');
		});

script(src='/materialize/js/materialize.min.js')
