div(class='container' style='margin-top: 8px;')
	nav
		div(class="nav-wrapper")
			a(href='#' class="brand-logo") &nbsp;Register Board

div(class='container' style='margin-top: 32px;')
	div(class='row')
		form(class='col s8 offset-s2')
			div(class='input-field')
				input(class='validate' type='text' id='node_id' required='true')
				label(class='active' for='node_id' style='left: 0;') Board ID

			div(class='input-field')
				input(class='validate' type='text' id='node_ip' required)
				label(class='active' for='node_ip' style='left: 0;') Board IP or Domain Name

			div(class='input-field')
				input(class='validate' type='text' id='node_location_city' required)
				label(class='active' for='node_location_city' style='left: 0;') Board Location - City

			div(class='input-field')
				input(class='validate' type='text' id='node_location_country')
				label(class='active' for='node_location_country' style='left: 0;') Board Location - Country

			p
				input(type='submit' class='waves-light btn waves-effect' value='Register' id='register_btn')
				input(type='reset' class='waves-light btn waves-effect right' value='Clear')
	script(type='text/javascript' src='/javascripts/validator.js')
	script.
		$(document).ready(function() {
			Materialize.updateTextFields();
		});

		$('#register_btn').on('click', function(e) {
			e.preventDefault();

			var node_id = $("#node_id").val();
			var node_ip = $("#node_ip").val();
			//var node_location = $("#node_location").val();
			var node_location_city = $("#node_location_city").val();
			var node_location_country = $("#node_location_country").val();

			if (node_id == '' || node_ip == '' || node_location_city == '') {
				Materialize.toast('All fields are mandatory.', 4000)
				return;
			}

			//advanced validation
			var v = new Validator();
			if (!v.alphanumeric(node_id)) {
				Materialize.toast('Board ID should be alphanumeric', 4000)
				return;
			}

			if (!v.ip(node_ip)) {
				Materialize.toast('Invalid IP address or domain name (Protocol is mandatory)', 4000)
				return;
			}

			var data = {node_id: node_id,
				node_ip: node_ip,
				//node_location: node_location,
				node_location_city: node_location_city,
				node_location_country: node_location_country,
			};

			$.ajax({
				url: 'node/register',
				type: 'post',
				data: data,
				success: function(status) {
					Materialize.toast(status, 4000)
				}
			});
		});
