p
			span(class='badge') Node ID
			span(class='pull-right')= data.node_id
			
p
			span(class='badge') Node IP
			span(class='pull-right')= data.node_ip

p
			span(class='badge') Status
			span(class='pull-right')= data.status

p
			span(class='badge') Location
			span(class='pull-right')= data.node_location_city + ' - ' + data.node_location_country

p
			span(class='badge') Ad Count
			span(class='pull-right') 0
